#header {
    display: flex;
    align-content: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    width: min(160vw, 800px);
    aspect-ratio: 1 / 1;

    justify-content: center;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    flex: 1;
    border: 1px solid black;
    box-sizing: border-box;
}

.grid-cell-drawn {
    background-color: #000000;
}

#reset-button {

}



g